*{
    box-sizing: border-box;
    color: #c4cbd6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 3px;
    align-content: center;
}
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: radial-gradient(circle, #1E88E5, #0D47A1);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 2);
    background: radial-gradient(circle, #1E88E5, #0D47A1);
    }
.card {
    background-color: #1E88E5;
    padding: 20px;
    margin-top: 20px;
    background: radial-gradient(circle, #1E88E5, #0D47A1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 5);
  }
.leftcolumn {
    float: left;
    width: 75%;
  }
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 10px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background: radial-gradient(circle, #1E88E5, #0D47A1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 5);
  }
body{
    background-color: rgba(53, 51, 87, 0.61);
  }
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }
